article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

 * {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 * {
     box-sizing: border-box;
} 

 body {
     background-color: black;
     color: white;
     font-family: 'Source Sans Pro', sans-serif;
 }    

img {
     max-width: 100%;
 }

 /*START navbar styling*/
.navbar-flex {
     background-image: linear-gradient(to bottom, #2BCFB1, #45EAED);
     position: fixed;
     z-index: 2;
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin: 0;
}

.navbar-flex li {
     list-style-type: none;
     display: inline-block;
     position: relative;
}

.navbar-flex li a {
     color: #8C6685;
     font-size: 18px;
     text-decoration: none;
     text-transform: uppercase;
     display: inline-block;
     font-weight: bold;
     padding: 10px;
     transition: all 0.5s;
}

.navbar-flex li ul.subNav {
     display: none;
     position: absolute;
     background-image: linear-gradient(to bottom, #45EAED, #90FBFC);
     width: 100%;
     padding: 5px 0;
     text-align: center;
}

.navbar-flex li:hover ul.subNav {
     display: block;
}

.navbar-flex li a:hover {
     color: #8D28BD;
}
 /*END navbar styling*/

/*START banner styling*/
.banner {
     background-image: url(images/robyn_back.jpg);
     background-size: cover;
     background-attachment: fixed;
     max-width: 100%;
     position: relative;
     height: 900px;
 }    

.banner h1 {
     font-family: 'Rock Salt', cursive;
     font-size: 100px;
     color: #AD9DD4;
     position: absolute;
     left: 70px;
     top: 200px;
}
/*END banner styling*/

/*START about section styling*/
.about {
     max-width: 100%;
     padding: 60px;
     margin: 0 auto;
     background-image: url(images/inflicted_pattern.png);
}

/*styling for all h1*/
.about h1,
.photos h1,
.video h1,
.contact h1 {
     font-family: 'Megrim', cursive;
     text-align: center;
     font-size: 60px;
     margin: 0;
}

.about-flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.about-flex p {
    margin: 10px 0;
    font-size: 18px;
}

.about-flex p.quote {
     font-style: italic;
     margin-bottom: 0;
}
/*END about section styling*/

/*START photo section styling*/
.photos {
     margin: 0 auto;
     padding: 70px 0;
     max-width: 100%;
     background-image: url(images/dark_mosaic_pattern.png); 
}

.photos h2 {
     font-family: 'Megrim', cursive;
     text-align: center;
     font-size: 35px;
}

.promo-flex,
.live-flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.promo-flex img,
.live-flex img {
     border: 1px solid white;
     padding: 5px;
     opacity: 0.7;
}

.promo-flex img:hover,
.live-flex img:hover {
     opacity: 1;
}
/*END photo section styling*/

/*START video section styling*/
.video {
     background-image: url(images/inflicted_pattern.png);
     max-width: 100%;
     margin: 0 auto;
     padding: 50px 0;
}

.video-flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.video-flex iframe {
     padding: 15px;
}
/*END video section styling*/

/*START contact section styling*/
.contact {
     background-image: url(images/dark_mosaic_pattern.png);
     margin: 0 auto;
     max-width: 100%;
     padding: 30px 0;   
}

/*start form styling*/   
.form-flex {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.form-flex input.email {
     border: 1px solid grey;
     width: 398px;
     padding: 0 10px;
     border-radius: 2px;
     margin: 0 20px;
}

.form-flex input.subscribe {
     background: transparent;
     border: 1px solid rgba(255,255,255,0.6);
     color: white;
     padding: 10px;
     text-transform: uppercase;
}

.form-flex input.subscribe:hover {
     border: 1px solid white;
}
/*end form styling*/

/*start social media icon styling*/
.icons-flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.icons-flex a i {
     padding: 50px;
     color: white;
}
.icons-flex a i:hover {
     color: #8C6685;
}
/*end social media icon styling*/
/*END contact section styling*/

/* media queries */
@media (max-width: 580px) {
     ul.navbar-flex  {
          flex-direction: column;
          text-align: center;
          padding: 0;
          margin: 0 auto;
          position: static;
     }

     ul.navbar-flex li ul.subNav {
          position: static;
          background: transparent;
     }

     .banner {
          background-image: url(images/robyn_back_2.jpg);
          background-attachment: fixed;
          height: 70%;
     }   

     .banner h1 {
          font-size: 58px;
          top: -75px;
          left: 160px;      
     }

     .about-flex p {
          text-align: center;
     }

     .form-flex {
          flex-direction: column;
          flex-wrap-wrap;
          justify-content: center;
          align-items: center;
     }

     .form-flex input.email {
          width: 85%;
          padding: 10px;
          margin-bottom: 20px;
     }

     .icons-flex {
          flex-direction: column;
          align-items: center;
     }
    
     .icons-flex a i {
          padding: 20px;
     }
}

